<!-- My recreate version with more human thought on it -->
<!--
  Loop the group first, each group contain its own virtual scroll with xxx max height, 
  so we can have multiple virtual scroll in the same page, 
  and each group can be expanded/collapsed independently without affecting the others.
  -----------------------
  After edit or something we just
-->
<div>
  <div class="flex items-center gap-4 px-2 py-1">
    <span class="text-sm text-muted-foreground">Total {{ totalCount() }} rows</span>
    @if (totalEdited() > 0) {
      <span class="text-sm text-yellow-500">You have {{ totalEdited() }} unsaved changes</span>
      <hlm-dialog>
        <button hlmBtn hlmDialogTrigger variant="outline">See Changes</button>
        <hlm-dialog-content *hlmDialogPortal="let ctx">
          <hlm-dialog-header>
            <h3 hlmDialogTitle>Edited priority</h3>
            <p hlmDialogDescription>
              Make changes to your edited priorities here. Click save when you're done.
            </p>
          </hlm-dialog-header>
          <div class="overflow-x-auto">
            <div
              gridTable
              [style.grid-template-columns]="gridTemplateColumns() + ' minmax(0, 1fr)'"
            >
              <div gridTableHeader>
                <div
                  gridTableRow
                  cdkDropList
                  cdkDropListOrientation="horizontal"
                  (cdkDropListDropped)="dropColumn($event)"
                >
                  @for (col of columns(); track col.key) {
                    <div cdkDrag gridTableHead>{{ col.label }}</div>
                  }
                </div>
              </div>
              <cdk-virtual-scroll-viewport
                gridTableBody
                class="overflow-x-hidden! h-80"
                [itemSize]="40"
                [minBufferPx]="320"
                [maxBufferPx]="620"
              >
                <div
                  class="h-10"
                  gridTableRow
                  *cdkVirtualFor="let row of editedItems(); let rowIndex = index"
                >
                  @for (col of columns(); let colIndex = $index; track col.key) {
                    @if (!row) {
                      <div
                        gridTableCell
                        [rowIndex]="rowIndex"
                        [colIndex]="colIndex"
                        [class]="col.class ?? ''"
                      >
                        <hlm-skeleton class="h-4 w-full" />
                      </div>
                    } @else {
                      @switch (col.key) {
                        @case ('priority') {
                          <div
                            gridTableCellCheckbox
                            (activated)="gridActive()"
                            [rowIndex]="rowIndex"
                            [colIndex]="colIndex"
                            [class]="col.class ?? ''"
                            [ngModel]="row[col.key]"
                          ></div>
                        }
                        @case ('r1')
                        @case ('r2') {
                          <div
                            gridTableCellInput
                            (activated)="gridActive()"
                            [rowIndex]="rowIndex"
                            [colIndex]="colIndex"
                            [class]="col.class ?? ''"
                            [ngModel]="row[col.key]"
                          ></div>
                        }
                        @default {
                          <div
                            gridTableCell
                            [rowIndex]="rowIndex"
                            [colIndex]="colIndex"
                            [class]="col.class ?? ''"
                          >
                            {{ row[col.key] }}
                          </div>
                        }
                      }
                    }
                  }
                </div>
              </cdk-virtual-scroll-viewport>
            </div>
          </div>
          <hlm-dialog-footer>
            <button hlmBtn variant="outline" hlmDialogClose>Cancel</button>
            <button hlmBtn type="submit">Save changes</button>
          </hlm-dialog-footer>
        </hlm-dialog-content>
      </hlm-dialog>
      <button hlmBtn>Save Changes</button>
    }
  </div>
</div>

<div
  class="overflow-x-auto"
  gridTable
  [style.grid-template-columns]="gridTemplateColumns() + ' minmax(0, 1fr)'"
  (scroll)="onGridScroll($event)"
>
  <div gridTableHeader>
    <div
      gridTableRow
      cdkDropList
      cdkDropListOrientation="horizontal"
      (cdkDropListDropped)="dropColumn($event)"
    >
      @for (col of columns(); track col.key) {
        <div
          cdkDrag
          gridTableHead
          appPriorityListTh
          [column]="col"
          [widths]="columnWidths()"
          (widthChange)="onColumnResize(col.key, $event)"
          (sort)="onSort(col.key, $event.sortDirection, $event.isToggled)"
          (filter)="onFilter(col.key, $event)"
          [sortColumn]="sortColumn()"
          [sortDirection]="sortDirection()"
        ></div>
      }
    </div>
  </div>

  @if (!priorityGrouped()) {
    <div gridTableBody>
      <!-- Placeholder for loading group data -->
      <div gridTableRow class="h-10">
        @for (col of columns(); let colIndex = $index; track col.key) {
          <div gridTableCell [rowIndex]="0" [colIndex]="0">
            <hlm-skeleton class="h-4 w-full" />
          </div>
        }
      </div>
    </div>
  } @else {
    @for (group of priorityGrouped(); let groupIndex = $index; track group.key) {
      <cdk-virtual-scroll-viewport
        gridTableBody
        class="priority-group overflow-x-hidden!"
        [ngClass]="{
          'h-80': groupExpanded()[group.key],
          'h-10': !groupExpanded()[group.key],
        }"
        [itemSize]="40"
        [minBufferPx]="320"
        [maxBufferPx]="620"
        #cdkViewport
      >
        <div
          class="h-10"
          gridTableGroupRow
          sticky
          [expanded]="groupExpanded()[group.key]"
          (toggled)="toggleExpand(group, cdkViewport)"
        >
          <div
            gridTableCell
            [rowIndex]="groupIndex * (priorityGrouped()[groupIndex - 1]?.total ?? 0)"
            [colIndex]="0"
            class="col-span-full flex items-center gap-2 font-medium"
          >
            <ng-icon
              [name]="
                groupExpanded()[group.key] ? 'lucideCircleChevronDown' : 'lucideCircleChevronRight'
              "
              class="text-xs"
            ></ng-icon>
            <span>{{ group.r1 ?? 'No Priority' }}</span>
            <span>({{ group.total }})</span>
            @if (group.dataSource.loading$ | async) {
              <hlm-spinner size="sm" /> <span class="text-muted-foreground">Fetching data...</span>
            }
          </div>
        </div>
        <!-- Data rows -->
        @if (groupExpanded()[group.key]) {
          <div
            class="h-10"
            gridTableRow
            *cdkVirtualFor="let row of group.dataSource; let rowIndex = index"
          >
            @for (col of columns(); let colIndex = $index; track col.key) {
              @if (!row) {
                <div
                  gridTableCell
                  [rowIndex]="rowIndex"
                  [colIndex]="colIndex"
                  [class]="col.class ?? ''"
                >
                  <hlm-skeleton class="h-4 w-full" />
                </div>
              } @else {
                @switch (col.key) {
                  @case ('priority') {
                    <div
                      gridTableCellCheckbox
                      (activated)="gridActive()"
                      [rowIndex]="rowIndex"
                      [colIndex]="colIndex"
                      [class]="col.class ?? ''"
                      [ngModel]="row[col.key]"
                      (ngModelChange)="
                        editBooleanItem(group.dataSource, rowIndex, row, col.key, $event)
                      "
                    ></div>
                  }
                  @case ('r1')
                  @case ('r2') {
                    <div
                      gridTableCellInput
                      (activated)="gridActive()"
                      [rowIndex]="rowIndex"
                      [colIndex]="colIndex"
                      [class]="col.class ?? ''"
                      [ngModel]="row[col.key]"
                      (ngModelChange)="
                        editNumberItem(group.dataSource, rowIndex, row, col.key, $event)
                      "
                    ></div>
                  }
                  @default {
                    <div
                      gridTableCell
                      [rowIndex]="rowIndex"
                      [colIndex]="colIndex"
                      [class]="col.class ?? ''"
                    >
                      {{ row[col.key] }}
                    </div>
                  }
                }
              }
            }
          </div>
        }
      </cdk-virtual-scroll-viewport>
    }
  }
</div>
